body {
  background: linear-gradient(to bottom, #ffff66 0%, #ff99cc 100%);
  text-align: center;
}
div {
  margin: 10px;
  width: 48%;
}
#showParagraph1,
#showParagraph2 {
  width: 100%;
  margin: 10px;
}
h1 {
  font-family: "Potta One", cursive;
  font-size: 50px;
}
